<div class="container">
  <div class="row">
    <h2>Contact JJ About Making An Appointment:</h2>
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <label for="appt-name">Your Name <span class="required">*</span></label>
        {{input type=text value=name class="form-control" id="appt-name" required=true}}
      </div>
      <div class="form-group">
        <label for="appt-email">Your Email Address <span class="required">*</span></label>
        {{input type=text value=email class="form-control" id="appt-email" required=true}}
      </div>
      <div class="form-group">
        <label for="about-appt">Please describe in detail what you're looking for, including size, body positioning, etc. <span class="required">*</span></label>
        {{textarea type=text value=comments class="form-control" id="about-appt" required=true}}
      </div>
      <button class="btn btn-primary submit-button" {{action 'submit'}}>Submit</button>
    </div>
  </div>
</div>
