<div class="row">
  {{#if session.isAuthenticated}}
    {{#each current as |event|}}
      {{event-item model=event on-destroy=(action 'destroy')}}
    {{/each}}
  {{else}}
    {{#masonry-grid}}
      {{#each current as |event|}}
        {{event-item model=event on-destroy=(action 'destroy')}}
      {{/each}}
    {{/masonry-grid}}
  {{/if}}
</div>
