<div class="row">
{{#each model as |img|}}
  <div class="col-xs-4">
    {{!-- {{#link-to 'tattoo.show' img class="thumbnail"}} --}}
    <div class="thumbnail tattoo-index-thumbnail">
      <img src="{{img.image.url}}" alt="" />
      <div class="caption">
        <h4><strong>{{img.title}}</strong></h4>
        {{img.caption}}
        <ul class="tattoo-tags">
          {{#each img.tags as |tag|}}
            <li class="tattoo-tag text-muted">{{tag}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{!-- {{/link-to}} --}}
  </div>
{{/each}}
</div>
