<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="nav-tab">{{#link-to 'about.index'}}Artist Statement{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'about.resume'}}Resume{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'about.press'}}Press{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'about.contact'}}Make an Appointment{{/link-to}}</li>
</ul>
