<div class="row">
  <div class="col-md-4">
    <ul class="tattoo-tag-list">
      <li>{{#link-to 'tattoo.tags.show' "american-traditional"}}American Traditional{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "anatomical"}}Anatomical{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "anchor"}}Anchor{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "asian-inspired"}}Asian-Inspired{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "bird"}}Bird{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "black-and-grey"}}Black & Grey{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "black-line"}}Black Line{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "blackwork"}}Blackwork{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "botanical"}}Botanicalr{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "color"}}Color{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "comic"}}Comic{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "cover-up"}}Cover Up{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "dot-work"}}Dot Work{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "egyptian-inspired"}}Egyptian Inspired{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "eye"}}Eye{{/link-to}}</li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="tattoo-tag-list">
      <li>{{#link-to 'tattoo.tags.show' "fine-art-inspired"}}Fine Art-Inspired{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "floral"}}Floral{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "food-and-drink"}}Food & Drink{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "geometric"}}Geometric{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "grateful-dead"}}Grateful Dead{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "heart"}}Heart{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "illustration"}}Illustration{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "insect"}}Insect{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "knotwork"}}Knotwork{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "lettering"}}Lettering{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "mandala"}}Mandala{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "native-american-inspired"}}Native American-Inspired{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "nautical"}}Nautical{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "ocean"}}Ocean{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "patriotic"}}Patriotic{{/link-to}}</li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="tattoo-tag-list">
      <li>{{#link-to 'tattoo.tags.show' "pin-up"}}Pin-Up{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "portrait"}}Portrait{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "quirky"}}Quirky{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "realism"}}Realism{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "religious"}}Religious{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "scifi"}}Scifi{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "science"}}Science{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "skull"}}Skull{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "space"}}Space{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "sports"}}Sports{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "tiny"}}Tiny{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "trash-polka"}}Trash Polka{{/link-to}}</li>
      <li>{{#link-to 'tattoo.tags.show' "tree"}}Tree{{/link-to}}</li>
    </ul>
  </div>
</div>
