body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.app-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  background-color: #FFF;
}

a,
a:visited  {
  font: "Roboto";
  font-weight: 400;
  color: #000;
}

a:hover,
a:active {
  color: #8B0000;
  text-decoration: none;
}

.btn {
  background-color: #8B0000;
  border: 1px solid #8B0000;
  border-radius: 5px;
}

.btn:hover {
  background-color: #7F0000;
  border: 1px solid #7F0000;
}

h4 {
  font-size: 16px;
}

/* Navigation */

.navbar {
  background-color: #fff;
  border: none;
  border-radius: 0;
}

.navbar-brand,
.nav>li {
  margin-right: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:focus {
  color: #7F0000;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* jumbotron */

.jumbotron {
  padding: 200px;
  background-image: url(../images/jj.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
}

/* Index header */
.page-header{
  text-align: center;
  margin-bottom: 50px
}

.page-header-small{
  color: #8B0000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

/* Index tattoo thumbnails */
/*.tattoo-thumbnail>img:hover {
  border: 1px solid #8B0000;
  transition: .2s;
}*/

.tattoo-thumbnail>img {
  width: 90%;
  margin-left: 5%;
}


.caption {
  text-align: center;
  margin-top: 10px;
}

h3 {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}

h3:hover {
  color: #8B0000;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 50px;
}

footer:before{
  content: '';
  height: 1px;
  background-color: rgba(225, 225, 225, .5);
  display: block;
}

.footer {
  height: 150px;
  padding: 25px;
  text-align: center;
  font-size: 14px;
}

/* tattoo thumbnail images */
.tattoo-index-thumbnail{
  width: 100%;
}
.tattoo-index-thumbnail>img{
  width: 100%;
}

ul.tattoo-tags{
  display: block;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

li.tattoo-tag{
  display: inline;
  list-style: none;
}

.tattoo-tag::after{
  content: ' | ';
}

.tattoo-tag:last-child::after{
  content: '';
}
