.about-jj {
  margin-bottom: 20px;
}

.about-jj-img {
  display: inline;
}

.about-jj-text {
  display: inline-block;
  width: 650px;
  vertical-align: top;
  padding-left: 20px;
}

.resume-subhead {
  font-size: 16px;
  color: #8B0000;
  padding: 10px 0 5px 0;
}
