/* Admin */

.btn.btn-primary.cancel-button{
  background-color: #777;
  border: #666;
}
.btn.btn-primary.cancel-button:hover{
  background-color: #666;
}
.btn.btn-primary.cancel-button:active{
  background-color: #000;
}

.upload-header{
  cursor: pointer;
}
