/* Navigation */

.navbar {
  background-color: #fff;
  border: none;
  border-radius: 0;
}
.navbar-brand {
  padding-left: 0;
}

.navbar-brand>a {
  color: #8B0000;
}

.navbar-brand,
.nav>li {
  margin-right: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:focus {
  color: #7F0000;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* jumbotron */
.jumbotron {
  background-image: url(../images/JJ-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  height: 450px;

  @media (max-width: 700px) {
    height: 200px;
  }

  @media (max-width: 600px) {
    height: 150px;
  }

  @media (max-width: 400px){
    height: 125px;
  }
}
/* Index header */
.page-header{
  text-align: center;
  margin-bottom: 50px
}

.page-header-small{
  color: #8B0000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}
