<h1>The Tattoo Process</h1>
<h3><small>Below is a general overview that addresses the most commonly-asked questions people have about getting a tattoo. Everyone’s experience will be a little bit different but this will give you a good idea of what to expect from beginning to end. At every stage of the process, if you have questions please ask!</small></h3>

<h3>DESIGN:</h3>
<p>Before making a consultation appointment please have a basic idea of what you want. At the minimum know what body part, the estimated size, whether it will be black & grey or color, and the basic subject matter.</p>

<p>If you would like, please bring reference photos or drawings. These do not have to be of the same subject matter – often showing an example of styles you like and also styles you don’t like can help me to get your design right the first time. I will not directly copy any other artist’s design but instead I will work with you to create an original piece that will not only be beautiful but will fit well on your body. Sometimes creating an effective design means rearranging components, adding items or eliminating items. Please make sure you tell me which elements are most important to you and try to be open-minded if the final design is slightly different than you thought.</p>

<p>If you are fine giving me room to interpret your idea and don’t need to control the details too much, that is great as well.</p>

<p>I spend several hours researching and drawing the designs before I ever begin tattooing. I try to keep the communication between us clear and avoid making it a drawn out process. A custom tattoo would become overwhelmingly expensive if I had to do multiple design drafts and multiple consultations for every tattoo, not to mention then I would not have very much time to actually tattoo, so I try very hard to get things right the first time. I also will present your final design to you at least a couple of days before your tattoo appointment so there is time to make any little adjustments if needed.</p>

<h3>PRICING:</h3>
<p>The more details you give me during the design process, the more accurate your price quote will be. I will give you a narrow price range that the tattoo will fall into and let you know the highest it could possibly be so you are prepared for the worst-case scenario. Most times tattoos do not end up costing the worst-case price. If you are working within a budget please let me know up front and I will let you know what is possible.</p>

<h3>THE DAY OF THE TATTOO:</h3>
<p>Please eat before you arrive. Please be clean. If the body part where the tattoo is to be placed is hairy, shaving ahead of time is appreciated (don’t worry if you forget to shave, we can do it here).</p>

<p>Make sure you are wearing comfortable clothes and have easy access to the area that is being tattooed. Don’t wear anything that would make you sad if it got ink or blood on it – this doesn’t typically happen but there is a chance. People tend to get chilly while being tattooed (side effect of the adrenaline) so it’s a good idea to bring a hoody or a sweater just in case.</p>

<p>Please don’t bring children under 18.</p>

<p>If you need support bring one friend. They should be able to sit with you in the tattooing area. Please don’t bring a large group; the lobby is small and I will have to ask them to wait elsewhere.</p>

<p>Please do not come intoxicated or high. Don’t drink alcohol the night before or take aspirin. Both make your blood thinner and consequently make you bleed more during the tattoo, which makes it harder for the ink to stay in your skin.</p>

<h3>DURING THE TATTOO</h3>
<p>I cannot stress the importance of laying still and remaining relaxed while getting the tattoo. Please don’t have animated conversations with your support friend, or spend the time texting on your phone. If your hands are moving, your legs are moving too, making it harder for me to make the best work I am capable of.</p>

<p>If you or your friend want to take one or two photos of you getting tattooed that is fine, but please ask first. Having someone walk around taking photos the whole time I’m working is too distracting.</p>

<p>If you need to take a short break during the tattoo to use the restroom or get a quick drink or snack just let me know.</p>

<h3>HOW PAINFUL IS IT, REALLY?</h3>
<p>I have noticed that tattoos seem to hurt exactly as much as the person thinks they will hurt. If you work yourself up ahead of time thinking it will be extremely painful, then you will likely think it’s extremely painful. If you get into the mindset ahead of time that it’s no big deal, you probably won’t feel as much pain. The best mental approach is to simply observe what you’re feeling in the present moment as the tattoo is happening. Some places may be more sensitive, and sometimes you will hardly feel anything at all. If you breathe deeply and just observe you will likely find the sensations range from nothing at all, to somewhat pleasant tingling, to mild annoyance, to moderate discomfort. I will do my best to keep you comfortable.</p>

<h3>AFTER THE TATTOO</h3>
<p>I will provide you with detailed aftercare instructions. Please follow them as closely as you can and remember that your tattoo is basically a wound. The aftercare is designed to ensure that it heals properly and holds well.</p>

<p>Tipping is entirely up to you and is always appreciated, but not necessary.</p>

<p>Most of my business comes from referrals and word of mouth. If you are happy with your tattoo, please tell your friends, write a review on my FB page or on Google. If you are unhappy, please tell me so I can make it right. My goal is for you to leave with a piece of art that you will be proud to wear forever.</p>
