<div class="image-display-container">
  <h1>Other Paintings & Drawings</h1>
  <div class="jumbotron art-paintings-jumbotron">
    <p class="art-jumbotron-text">The catch-all place for archiving pieces that don’t fit into another category. Piles of laundry, doughnuts, meat -whatever strikes my fancy.</p>
  </div>
  {{art-items model=model}}
</div>

{{outlet}}
