<div class="image-display-container">
  <h1>Subway Paintings</h1>
  <div class="jumbotron art-subway-jumbotron">
    <p class="art-jumbotron-text">I like being underground. Growing up, we always played in the basement. My bedroom was in the basement. My favorite bar, favorite restaurant, favorite coffee shop - basement, basement, basement. So it should come as no surprise that I am fascinated with the New York subway system. It's one of my favorite things about the city.</p>
  </div>
  {{art-items model=model}}
</div>

{{outlet}}
