<div class="image-display-container">
  <div class="row">
    <h1>Animals</h1>
    <div class="jumbotron art-animals-jumbotron">
      <h1></h1>
    </div>
    {{art-items model=model}}
  </div>
</div>

{{outlet}}
