<div class="image-display-container">
  <div class="row">
    <h1>Animals</h1>
    <div class="jumbotron art-animals-jumbotron">
      <p class="art-jumbotron-text">
        I also consider my animal pieces to be a form of portraiture. Many of these images are commissioned works from people who consider their pet a full member of the family, as I do. I try to capture their physical likenesses as well as their unique personalities, just as I would when painting a human.
      </p>
    </div>
    {{art-items model=model}}
  </div>
</div>

{{outlet}}
