<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}Subway Paintings{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}Temporary Permanence{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}Masks{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}The Pile Project{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}Artistic Identity{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}Other{{/link-to}}</li>
</ul>
<div class="image-display-container">
  {{image-display model=model}}
</div>

{{outlet}}
