<div class="image-display-container">
  <h1>Portraits</h1>
  <div class="jumbotron art-portraits-jumbotron">
    <p class="art-jumbotron-text">I love pushing the boundaries of traditional portraiture by cropping the images or changing the idea of a portrait. In particular with nude models I noticed people are ok with being shown nude as long as no one can recognize them. The mask portraits were born from this observation. To preserve their anonymity, I named the pieces based on the mask rather than the person’s first name.</p>
  </div>
  {{art-items model=model}}
</div>

{{outlet}}
