<div class="image-display-container">
  <h1>Temporary Permanence</h1>
  <div class="jumbotron art-temporary-jumbotron">
    <p class="art-jumbotron-text">They say tattoos are forever, but in reality they are my least permanent art medium. They can be covered with another tattoo, removed with a laser, fade over time from improper care, change shape or size from weight fluctuation or wrinkling, and no matter what, eventually the canvas dies and the work is lost forever.</p>
  </div>
  {{art-items model=model}}
</div>

{{outlet}}
