<div class="container">
  <div class="row">
    <div class="col-s-4 col-med-6">
        <h1>Contact</h1>
        <p>p: 864-704-6474</p>
        <p>e: jj@ohlinger.com</p>
    </div>
    <div class="col-s-4 col-med-6">
      <h2>Tattoo Studio</h2>
        <p>Main Street Tattoo</p>
        <p>303 N Main Street</p>
        <p>Mauldin, SC 29662</p>
    </div>
    <div class="col-s-4 col-med-6">
      <h2>Social</h2>
      <p><a href="https://www.facebook.com/JJOhlingerTattoo">Facebook</a></p>
      <p><a href="https://instagram.com/jjohlinger/">Instagram</a></p>
    </div>
  </div>
</div>

{{outlet}}
