<h1>Artist Statement</h1>
<div class="row">
  <img src="../images/JJ-4.jpg" class="col-xs-4 col-sm-2 col-md-2" />
  <div class="col-xs-8 col-sm-10 col-md-10">
    <p>
      My work is about maintaining authenticity and accuracy to my subject. Though the image presents a feeling of intimacy with the subject, I try to remain discreet and keep the viewer at a respectful distance; protecting the subject’s full identity. Showing a portion of the subject in a grand way gives the viewer insight into something that would normally be inaccessible – the fascinating details we seldom get close enough to see in person. The only clue of the identity of the individual is revealed through my titles, which are always the name by which I was introduced to the person. My work examines how we as viewers still seek recognition of the subject even when given only a limited view of the person’s appearance and identity.
    </p>

    <p>
      For the past several years my work has been an examination of the ideas and concepts of what “Identity” means and how I, as a contemporary artist, challenge the conventions of traditional portrait painting.  Historically, we are all familiar with the grand portraits of world leaders, nobility and the great patrons of society.  But in today’s age, they don’t serve much more of a purpose to us than decoration for currency.  We are so inundated with imagery that it becomes difficult to recount something we may have seen only minutes earlier.  We encounter so many people on a daily basis, that we rarely notice the individual sitting at the table next to us in a restaurant.  My work is about taking notice and hopefully discovering the unique identity of the individual depicted not only in the image but also the people you will encounter today.
    </p>
  </div>
</div>
{{outlet}}
