<h1>Meet JJ</h1>
<div class="row about-jj">
  <img src="../images/JJ-3.jpg" class="col-xs-12 col-sm-6 col-md-4 about-jj-img"/>
  <div  class="about-jj-text col-xs-12 col-sm-12 col-md-8 ">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  </div>
</div>

<h2>TEDxGreenville</h2>
<div class="row">

  <h4 class="col-xs-12 col-sm-8 col-md-12">
    A painter and tattoo artist with an authentic, honest nature, JJ immediately sets people at ease. What are his insights after interpreting so many people's lives and desires through art?
  </h4>
  <p class="col-xs-12 col-sm-8 col-md-12">
    An accomplished painter whose work is featured frequently at art shows and in publications throughout the state, JJ has embraced a new medium in recent years as a tattoo artist. “My work,” he says, “is about taking notice and discovering the unique identity of the individual depicted not only in a painting or image, but also in the people encountered every day.”
  </p>
  <iframe width="500" height="280" src="https://www.youtube.com/embed/Z0ezFAw9fic" frameborder="0" allowfullscreen class="col-xs-12"></iframe>
</div>
{{outlet}}
