<h1>Meet JJ</h1>
<p>A painter and tattoo artist with an authentic, honest nature, JJ immediately sets people at ease. What are his insights after interpreting so many people's lives and desires through art?</p>
<iframe width="1000" height="563" src="https://www.youtube.com/embed/Z0ezFAw9fic" frameborder="0" allowfullscreen></iframe>
{{outlet}}
