<h1>Meet JJ</h1>
<div class="row about-jj">
  <img src="./images/jj/JJ-3.jpg" class="col-xs-12 col-sm-6 col-md-4 about-jj-img"/>
  <div  class="about-jj-text col-xs-12 col-sm-12 col-md-8 ">
    <p>I have been making art as long as I can remember. I grew up in Omaha, Nebraska, moved to Greenville, South Carolina as a teenager, and earned a degree in Scientific Illustration from the University of Georgia. After college I moved to San Francisco for several years, working as an illustrator for the Grateful Dead, and after Jerry’s untimely demise, in web design and development.</p>
    <p>In the late 90s I moved to Charleston, South Carolina, where I owned a graphic design and web agency while also maintaining a painting studio on King Street, hosting art shows and also getting my work out to other galleries and museums. In 2006, I moved to Greenville, South Carolina and devoted myself full time to fine art, painting and teaching art classes.</p>
    <p>A few years ago I decided to try my hand at tattooing. I approach it as just another medium for creating one-of-a-kind pieces of art. I wanted to see if I could translate illustration and painting techniques into tattoo form. My favorite thing about making tattoos is that every single one is a collaboration between me and the person who wears it. I love helping people to express themselves through tattoos and enjoy the challenge of bringing a fine art style to the process, creating art you can wear.</p>
  </div>
</div>
{{log model}}
{{press-items model=model}}
{{outlet}}
