<h1>Resume</h1>
<ul>
  <li>Born</li>
    <p>
      September 1970 / Omaha, Nebraska
    </p>
  <li>Education</li>
    <ul>
      <li>BFA / Scientific Illustration</li>
      <li>University of Georgia, Athens, GA / 1994</li>
    </ul>
  <li>Solo Shows</li>
    <ul>
      <li>Coffee Underground, Greenville, SC / Underground / September 2011 - January 2012</li>
      <li>Visions Gallery, Jackson Dawson, Greenville, SC / March - April 2011</li>
      <li>Warehouse Theatre, Greenville, SC / Pile of... / October - November 2010</li>
      <li>Think Up, Greenville, SC / Artistic Identity / December 2009</li>
      <li>Governor's School for the Arts, Greenville, SC / Charcoal / January - February 2009</li>
      <li>University of South Carolina Aiken, Aiken, SC / Charcoal Drawings / December 2008</li>
      <li>Raymond James, Greenville, SC / Dogs and a Cat / April - June 2008</li>
      <li>Robert Lange Studios, Charleston, SC / October 2006</li>
      <li>City Gallery at the Dock Street, Charleston, SC / August - September 2006</li>
      <li>Footlight Players, Charleston, SC / March 2006</li>
    </ul>
  <li>Two Person Shows</li>
    <ul>
      <li>Flat Iron Studios, Greenville, SC / Retro / November 2010</li>
      <li>Fayetteville Museum of Art, Fayetteville, NC / Raw Identity / March - May 2009</li>
      <li>Catherine Hayes Art + Sculpture, Greenville, SC / Oil and Water / February-March 2009</li>
      <li>Umbedingt Gallery Charleston, SC / Art by the Foot / June 2005</li>
      <li>Umbedingt Gallery, Charleston, SC / Two Drink Minimum / February 2004</li>
    </ul>
  <li>Juried Shows and Awards</li>
    <ul>
      <li>South Carolina State Museum, Columbia, SC / 20th Anniversary Juried Art Exhibition / April - Sept 2008</li>
      <li>Pickens Museum of Art, Pickens, SC / Twenty-ninth Annual Juried Exhibition / April - May 2008</li>
      <li>Artisphere Artist of the Upstate, Greenville, SC / April -May 2008</li>
      <li>Art in the Park, Greenville, SC / 16th Annual Juried Show / Septemberr 2007 / Best in Show</li>
      <li>Fayetteville Museum of Art, Fayetteville, NC / Discovering Contemporary Art in the Carolinas / March - May 2007 / First Place</li>
      <li>Upstate Visual Arts, Greenville, SC / Annual Holiday Gallery / December 2006 / Second Place</li>
      <li>Lake Placid, NY / Artist-in-Residence / Summer 2005</li>
    </ul>
  <li>Select Group Shows</li>
    <ul>
      <li>Robert Lange Studios, Charleston, SC / What We Choose / July 2011</li>
      <li>Pickens Museum of Art, Pickens, SC / Adornment / June 2011 - August 2011</li>
      <li>CAFfeine, Greevnille, SC / _Notes / March 2011</li>
      <li>CAFfeine, Greevnille, SC / Tomorrow Shall Be As Today / November 2009</li>
      <li>The Brooks Center, Clemson University / Contemporaries / October - December 2009</li>
      <li>Hub-Bub, Spartanburg, SC / Drawn Together - the work of three couples / September - October 2009</li>
      <li>Anderson Arts Center, Anderson, SC / Pet Project / July-August 2009</li>
      <li>CAFfeine, Greevnille, SC / Heaven Hell / July 2009</li>
      <li>Metropolitan Arts Council, Greenville, SC / One Stop Open Studios / May-June 2009</li>
      <li>Pickens Museum of Art, Pickens, SC / The Critter Show / December 2008 - February 2009</li>
      <li>CAFfeine, Greevnille, SC / And When You Wake Up / December 2008</li>
      <li>CAFfeine, Greevnille, SC / _ate_eight_08 / August 2008</li>
      <li>Catherine Hayes Art + Sculpture, Greenville, SC / Outside Inside / April-May 2008</li>
      <li>CAFfeine, Greenville, SC / Pleased to meet you / March 2008</li>
      <li>Metropolitan Arts Council, Greenville, SC / Univeristy of Georgia Alumni Show / February 2008</li>
      <li>Open Studios, Greenville, SC / November 2007, 2008</li>
      <li>Upstate Visual Arts, Greenville, SC / Summer Group Show / July 2007</li>
      <li>Upstate Visual Arts, Greenville, SC / Spring Group Show / March 2007</li>
      <li>Hub-Bub, Spartanburg, SC / BYOA / December 2006</li>
      <li>Upstate Visual Arts, Greenville, SC / Annual Holiday Gallery / December 2006</li>
      <li>Charleston, SC / The Art Show / Spring 2006</li>
      <li>Church Studio, Charleston, SC / Fall Show / September 2005</li>
      <li>Umbedingt Gallery, Charleston, SC / Operation Healing; the 9-11 Show / September 2004</li>
      <li>Umbedingt Gallery, Charleston, SC / People, Places and Things / August 2004</li>
      <li>Umbedingt Gallery, Charleston, SC / Serious Art / May 2004</li>
      <li>Church Studio, Charleston, SC / Spring Show / March 2004</li>
    </ul>
  <li>Publicaitons</li>
    <ul>
      <li>Skirt! Magazine, Cover Feature, Charleston, SC August 2004</li>
      <li>Charleston City Paper, Charleston, SC</li>
      <li>Charleston Home, Charleston, SC</li>
      <li>Link, Greenville, SC</li>
      <li>Livin’ It, Charlotte, NC</li>
      <li>The Post & Courier, Charleston, SC</li>
      <li>Greenville Journal, Greenville, SC </li>
      <li>Greenville News, Greenville, SC</li>
      <li>City People, Greenville, SC</li>
    </ul>
</ul>
{{outlet}}
