<div class="app-container">

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="nav-tab">{{#link-to 'index'}}Home{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'about'}}Meet JJ{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'contact'}}Upcoming Events{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'store'}}Store{{/link-to}}</li>
  <li role="presentation" class="nav-tab">{{#link-to 'art.index'}}Paintings & Drawings{{/link-to}}</li>
</ul>

{{outlet}}
</div>
