<h2 id="title">Application Template</h2>
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'tattoo.index'}}tattoos{{/link-to}}
{{#link-to 'art.index'}}Paintings & Drawings{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'store'}}store{{/link-to}}
{{outlet}}
