<h1>Contact!</h1>
<p>p: 864-704-6474</p>
<p>e: jj@ohlinger.com</p>
<h2>Studio</h2>
  <p>10 central ave</p>
<h2>Tattoo Studio</h2>
  <p>Main Street Tattoo</p>
  <p>303 N Main Street</p>
  <p>Mauldin, SC 29662</p>

<h2>Social</h2>
<a href="https://www.facebook.com/jjohlinger">Facebook</a>
<a href="https://instagram.com/jjohlinger/">Instagram</a>
{{outlet}}
