<div class="container">
  <div class="row">
    <div class="col-med-4">
        <h1>Contact</h1>
        <p>p: 864-704-6474</p>
        <p>e: jj@ohlinger.com</p>
    </div>
    <div class="col-med-4">
      <h2>Tattoo Studio</h2>
        <p>Main Street Tattoo</p>
        <p>303 N Main Street</p>
        <p>Mauldin, SC 29662</p>
    </div>
    <div class="col-med-4">
      <h2>Social</h2>
      <a href="https://www.facebook.com/jjohlinger">Facebook</a>
      <a href="https://instagram.com/jjohlinger/">Instagram</a>
    </div>
  </div>
</div>

{{outlet}}
