<div class="jumbotron">
  <h1>Ohlinger</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Artwork</a></p>
</div>

{{!-- Realism --}}
<div class="row">
  {{#link-to 'tattoo.realism' class: 'btn btn-defaut'}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../images/tattoo/bg/dinosaur.jpg" alt="Realism Tattoo">
      </div>
      <div class="caption">
        <h3>Realism</h3>
      </div>
    </div>
  {{/link-to}}


{{!-- Dot Work --}}
  {{#link-to 'tattoo.dots'}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../images/tattoo/dotwork/robert1.jpg" alt="Dotwork Tattoo">
      </div>
      <div class="caption">
        <h3>Dot Work</h3>
      </div>
    </div>
  {{/link-to}}

{{!-- Illustration --}}
  {{#link-to 'tattoo.illustration'}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../images/tattoo/dotwork/thighflowers.jpg" alt="Illustration Tattoo">
      </div>
      <div class="caption">
        <h3>Illustration</h3>
      </div>
    </div>
  {{/link-to}}

{{!-- Color --}}
  {{#link-to 'tattoo.color'}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../images/tattoo/flash/flash5.jpg" alt="Color Tattoo">
      </div>
      <div class="caption">
        <h3>Color</h3>
      </div>
    </div>
  {{/link-to}}

{{!-- Black & Grey --}}
  {{#link-to 'tattoo.bg'}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../images/tattoo/bg/california.jpg" alt="Black & Grey Tattoo">
      </div>
      <div class="caption">
        <h3>Black & Grey</h3>
      </div>
    </div>
  {{/link-to}}


{{!-- Search All Tags --}}
  {{#link-to 'tattoo.all'}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../images/tattoo/bg/dinosaur.jpg" alt="Cat Tattoo">
      </div>
      <div class="caption">
        <h3>All Tags</h3>
      </div>
    </div>
  {{/link-to}}
</div>





{{outlet}}
