<div class="jumbotron">
  <h1></h1>
</div>

<div class="page-header">
  <h1><small class="page-header-small">More than a tattoo. A story.</small></h1>
</div>

{{!-- Realism --}}
<div class="row">
  {{#link-to 'tattoo.realistic'}}
    <div class="col-xs-4 col-sm-4 col-md-2 tattoo-thumbnail">
      <img src="images/index/realism.jpg" alt="Realistic Tattoo">
      <div class="caption">
        <h3 class="index-thumbnail-captions">Realistic</h3>
      </div>
    </div>
  {{/link-to}}


{{!-- Dot Work --}}
  {{#link-to 'tattoo.dotwork'}}
    <div class="col-xs-4 col-sm-4 col-md-2 tattoo-thumbnail">
      <img src="images/index/dotwork.jpg" alt="Dotwork Tattoo">
      <div class="caption">
        <h3 class="index-thumbnail-captions">Dot Work</h3>
      </div>
    </div>
  {{/link-to}}

{{!-- Illustration --}}
  {{#link-to 'tattoo.illustration'}}
    <div class="col-xs-4 col-sm-4 col-md-2 tattoo-thumbnail">
      <img src="images/index/illustration.jpg" alt="Illustration Tattoo">
      <div class="caption">
        <h3 class="index-thumbnail-captions">Illustration</h3>
      </div>
    </div>
  {{/link-to}}

{{!-- Color --}}
  {{#link-to 'tattoo.color'}}
    <div class="col-xs-4 col-sm-4 col-md-2 tattoo-thumbnail">
      <img src="images/index/color.jpg" alt="Color Tattoo">
      <div class="caption">
        <h3 class="index-thumbnail-captions">Color</h3>
      </div>
    </div>
  {{/link-to}}

{{!-- Black & Grey --}}
  {{#link-to 'tattoo.black-and-grey'}}
    <div class="col-xs-4 col-sm-4 col-md-2 tattoo-thumbnail">
      <img src="images/index/blackgrey.jpg" alt="Black & Grey Tattoo">
      <div class="caption">
        <h3 class="index-thumbnail-captions">Black & Grey</h3>
      </div>
    </div>
  {{/link-to}}


{{!-- Search All Tags --}}
  {{#link-to 'tattoo.tags.index'}}
    <div class="col-xs-4 col-sm-4 col-md-2 tattoo-thumbnail">
      <img src="images/index/all.jpg" alt="Cat Tattoo">
      <div class="caption">
        <h3 class="index-thumbnail-captions">All Tags</h3>
      </div>
    </div>
  {{/link-to}}
</div>

{{outlet}}
